<div class="outterWrapper">
    <nav class="insideWrapper">
        <img src="../../../assets/img/Star-Wars-Logo-Azul-1024x576.jpg" class="logo">
        <div>
            <a>
                <div class="avatarWrapper">
                    <img src="../../../assets/img/log-out.png" class="avatar">
                </div>
                <p>Logout</p>
            </a>
            <a>
                <div class="avatarWrapper">
                    <img src="../../../assets/img/Avatar.png" class="avatar">
                </div>
                <p>Profile</p>
            </a>
        </div>
    </nav>
</div>