<div class="outterContainer">
    <app-nav-bar></app-nav-bar>
    <div class="mainContainer">
        <div class="left">
            <div class="card">
                <div class="imgContainer">
                    <div class="moldura">
                        <img src="../../../assets/img/Avatar.png" alt="">
                    </div>
                </div>
                <p class="welcome-title">Nome: <span class="info-card">Teste</span></p>
                <div class="info-pessoais">
                    <p class="welcome">Idade: <span class="info-card">35</span></p>
                    <p class="welcome">Gênero: <span class="info-card">Masculino</span></p>
                </div>
                <p class="welcome" style="text-align: center;">Galáxia: <span class="info-card">Desconhecida</span></p>
                <div class="box-inventario">
                    <div class="box-item">
                        <img src="../../assets/img/icons8-gun-30.png" alt="" srcset=""><span class="info-card">10</span>
                    </div>
                    <div class="box-item">
                        <img src="../../assets/img/icons8-rifle-magazine-30.png" alt="" srcset=""><span class="info-card">10</span>
                    </div>
                    <div class="box-item">
                        <img src="../../assets/img/icons8-thirst-30.png" alt="" srcset=""><span class="info-card">10</span>
                    </div>
                    <div class="box-item">
                        <img src="../../assets/img/icons8-ham-30.png" alt="" srcset=""><span class="info-card">10</span>
                    </div>
                </div>
                <button>ATUALIZAR LOCALIZAÇÃO</button>
            </div>
        </div>
        <div class="right">
            <app-listagem-rebeldes></app-listagem-rebeldes>
        </div>
    </div>
</div>