<div class="outterContainer">
    <app-nav-bar></app-nav-bar>
    <div class="mainContainer">
        <div class="left">
            <div class="card">
                <div class="imgContainer">
                    <div class="moldura">
                        <img src="../../../assets/img/Avatar.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <app-listagem-rebeldes></app-listagem-rebeldes>
        </div>
    </div>
</div>