<div >
    <img class="background" src="../assets/img/star-wars-the-rise-of-skywalker.jpg" alt="" srcset="">
</div>

<div class="criacao-box">
    <img class="avatar" src="../../assets/img/Avatar.png" alt="" srcset="">
    <h2>Bem-vindo ao lado negro da força</h2>
    <h2 *ngIf="loginError" style="color: red">Usuário ou Senha incorretos!</h2>
    <form [formGroup]="group" (ngSubmit)="login()">
        <div class="rebelde-box">
            <input class="formInput" type="text" formControlName="username" placeholder=" ">
            <label class="formLabel">Usuario</label>
        </div>
        <div class="rebelde-box">
            <input class="formInput" type="password" formControlName="senha" placeholder=" ">
            <label class="formLabel">Senha</label>
        </div>
        <div class="buttonWrapper">
            <button>LOGIN</button>
            <button routerLink="/cadastro">CADASTRAR</button>
        </div>
    </form>
</div>
