<div >
    <img class="background" src="../assets/img/star-wars-the-rise-of-skywalker.jpg" alt="" srcset="">
</div>

<div class="criacao-box">
    <img class="avatar" src="../../assets/img/Avatar.png" alt="" srcset="">
    <h2>Bem-vindo ao lado negro da força</h2>
    <form>
        <div class="rebelde-box">
            <input class="formInput" type="text" formControlName="nome" placeholder=" ">
            <label class="formLabel">Nome</label>
        </div>
        <div class="rebelde-box">
            <input class="formInput" type="text" formControlName="idade" placeholder=" ">
            <label class="formLabel">Senha</label>
        </div>
        <div class="buttonWrapper">
            <button>LOGIN</button>
            <button routerLink="/cadastro">CADASTRAR</button>
        </div>
    </form>
</div>
